<% include ./partials/header %>

<h1>Welcome to the Goshuin Website</h1>
<hr>
<h4>Seals from across Japanese shrines and temples</h4>

<button><a href="#">Show goshuins</a></button>

<% include ./partials/footer %>