<% include ./partials/header %>

    <div class="container">
        <div id="landing-header">
            <h1 class="text-shadow text-light">Welcome to the Goshuin Website</h1>
            <hr>
            <h4 class="text-shadow text-light">Seals from across Japanese shrines and temples</h4>
            
            <a href="/goshuins">
                <button class="btn btn-secondary border border-light">Show goshuins</button>
            </a>
        </div>
    </div>

<% include ./partials/footer %>