html {
    height:100%;
}

body{
background: #BBD2C5;
background: -webkit-linear-gradient(to bottom, #BBD2C5, #292E49, #536976);
background: linear-gradient(to bottom, #BBD2C5, #536976, #292E49);
}

#landing-header{
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

hr {
    max-width: 600px;
}
/* Card stylings for the goshuin index page */

#myCardImage{
    max-height: 250px;
    object-fit: cover;
}


/* CSS styling to adjust the amount of columns on the index.ejs page for different display sizes */
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/* Styling for the show page */

#myShowPageImage {
    max-height:500px;
    width: auto;
}

#myImageContainer{
    margin:15px 0px;
}