<% include ../partials/header %>

<div id="myContainer" class="container">
  
<!--Jumbotron (Page header) -->  
  <header class="jumbotron box-shadow">
    <div class="container">
      <h1>Please look at some goshuins</h1> 
      <p>View seals from temples and shrines all over Japan!</p>
      <hr>
      <a href="/goshuins/new">
        <button class="btn btn-info">Add a new goshuin</button>
      </a>
    </div>
  </header> 

<!-- Card columns to display the main content -->
  <div class="card-columns">
    <!-- forEach loop that traverses through the passed object -->
    <% goshuins.forEach(function(goshuin){ %>
     
      <div class="card bg-light box-shadow">
        <h5 class="card-header"><%= goshuin.shrineOrTempleName %></h5>
        <img id="myCardImage" class="card-img-top" src="<%= goshuin.image %>" alt="An image of a goshuin">
        <div class="card-body">
          <a href="/goshuins/<%= goshuin._id %>" class="btn btn-info">See more</a>
        </div>
      </div> 
    
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>